.cards {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

@media screen and (max-width: 650px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    justify-content: center;
  }
}
