.character-details {
  position: fixed;
  z-index: 1000;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;

  &__back {
    color: #0077ee;
    cursor: pointer;
  }
}
