.App {
  min-height: 100vh;
  display: flex;
}

.main-content {
  display: flex;

  gap: 1rem;
}

@media screen and (max-width: 650px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }

  .App {
    justify-content: center;
  }
}
